<div class="pivotTable"  ng-controller="pivotTable as ctrl">
  <!-- <div class="col-md-12">{{ time | date:vis.params.format }}</div> -->
  <!-- <div id="output" style="margin: 30px;" ></div> -->
  <!-- <div class="col-md-12">
    <button ng-click="ctrl.table.editMode = true">Edit Mode</button><button ng-click="ctrl.table.editMode = false">View Mode</button>
  </div> -->
  <!-- <br> -->
  <!-- <div class="col-md-12">
    <button ng-click="updateEditor();">confirm</button>
  </div> -->
  <!-- <div>
    <pivot id="pivot_table" ng-if="vis.params.editMode" data="table.data" config="table.config" edit-mode="true"></pivot>
    <pivot id="pivot_table" ng-if="!vis.params.editMode" data="table.data" config="table.config" edit-mode="false"></pivot>
  </div> -->
  <div id="pivotOutput"></div>
  <!-- table.config:{{table.config| json}}
  <br>
  uiState: {{uiState| json}}
  <br>
  uiStateCopy: {{uiStateCopy| json}} -->
  <!-- uiStateJSON: {{uiStateJSON}} -->
</div>
