<!-- <vislib-basic-options></vislib-basic-options> -->
  <!-- <label>Time Format</label>
  <input type="text" ng-model="vis.params.format" class="form-control"> -->
  <div vis-option-item>
    <label>Edit Mode<input type="checkbox" ng-model="vis.params.editMode" class="form-control"></label>
  </div>
<!-- <div class="form-group">
  <div vis-option-item>
    <label>vis.params.cols</label>
    <input type="text" ng-model="vis.params.config.cols" class="form-control" validate-json>
    {{vis.params.cols | json}}
  </div>
  <div vis-option-item>
    <label>vis.params.rows</label>
    <input type="text" ng-model="vis.params.config.rows" class="form-control" validate-json>
    {{vis.params.rows | json}}
  </div>
  <div vis-option-item>
    <label>aggregator</label>
    <select name="Aggregator" ng-model="vis.params.config.aggregatorName" class="form-control">
      <option ng-repeat="option in vis.params.availableAggregatorOptions" value="{{option}}">{{option}}</option>
    </select>
    <label>vis.params.vals</label>
    <input type="text" ng-model="vis.params.config.vals" class="form-control" validate-json>
  </div>
</div> -->

  <!-- <label>data</label> -->
  <!-- <input type="text" ng-model="vis.params.data" class="form-control"> -->
  <!-- <input type="text" ng-model="vis.params.data" class="form-control"> -->
  <!-- <input type="text" ng-model="vis.params.data | JSON" class="form-control"> -->
    <!-- {{vis.params.data | json}} -->
  <!-- <label>config</label> -->
  <!-- <input type="text" ng-model="vis.params.config" class="form-control"> -->
  <!-- {{vis.params.config | json}} -->
  <!-- <input type="text" ng-model="vis.params.config.rows" class="form-control"> -->
  <!-- <input type="text" ng-model="vis.params.config.cols" class="form-control"> -->
